.header1 {
display: flex;
flex-direction: row;
}

.header2 {
display: flex;
flex-direction: row;
align-content: flex-end;
}

body {
  display: flex;
  background-color: antiquewhite;
  font-family: arial;
  max-width: 1200px;
}

main {
height: 500px;
width: 500px;
}

.products {
  display: grid;


}

.description {

}

.search {
  display:flex;

}

.footer {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

.page {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}